@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    overflow-x: hidden;
    
}

h1{
    font-family: 'Cormorant Garamond', serif;
    display: block;
    text-align: center;
    padding: 3vw;
    font-size: 50px;

}
#container{
    width: 95vw;
    height: 50vh;
    background-color: rgb(17, 17, 17);
    margin: 15vh auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 10px;
    box-shadow: 0 5px 5px 1px rgb(150, 147, 147);
}
.keys{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80vw;
    cursor: pointer;
}
.white{
    border: 1px solid black;
    background-color: white;
    height: 30vh;
    width: calc(80vw/19);
    border-radius: 0 0 3px 3px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5px;
    font-size: 25px;
}
.small{
    position: absolute;
    z-index: 1;
    gap: 1.5%;
    justify-content:space-evenly;
    padding: 0 2.5%;
    
}
.black{
    background-color: rgb(17, 17, 17);
    color: whitesmoke;
    height: 17vh;
    width: calc(80vw/18);
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 3px 0 rgb(150, 147, 147);
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 5px;
}
.transparent{
    background-color: transparent;
    box-shadow: none;
}
/*keys hover*/
.white:hover, .black:hover{
    box-shadow: 0 0 1px 2px rgb(96, 151, 235);
}
.transparent:hover{
    box-shadow: none;
}
/*keys clicked or press*/
.white:active{
    height: 29.5vh;
    background: linear-gradient(rgb(245, 245, 245), rgb(189, 189, 189));
}
.black:active{
    height: 16.5vh;
    background: linear-gradient(black, rgb(51, 51, 51));
}
.transparent:active{
    background: transparent;
}